#list {
    padding-left: 7rem;

    .tags {
      ul {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        padding: 1rem 0;
        li {
          padding: 0 1rem;
          cursor: pointer;
        }
        .active {
          color: red;
        }
      }
    }
  }