@import "../base.less";
#list {
  position: relative;
  height: 100vh;
  overflow-y: scroll;
  overflow-x: hidden;
  margin-left: -1rem;
  padding-left: 1rem;

  .tags {
    width: 120%;
    background-color: @Color2;
    ul {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      align-items: center;
      padding: 1rem 0;
      font-weight: 700;
      li {
        font-size: 2rem;
        padding: 0 1rem;
        cursor: pointer;
      }
      .active {
        color: @Color4;
      }
    }
  }

  // background img
  .background_mg {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%) scale(1);
    z-index: -1;
    // height: 100%;
    width: 100%;
    filter: blur(2.5rem);
  }
}