.common-tabs {
  font-size: 1.1rem !important;
}

#common-scrollContent {
  overflow-y: scroll !important;
  // height: calc(100vh - 140px) !important;
  height: 100vh !important;
}

.common-hot-card {
  background: -webkit-linear-gradient(
    left,
    #d32f2f,
    #7b1fa2,
    #009688
  ) !important;
}
