// Media Query
//iPad
@media screen and (max-width: 1099px) {
    // swipe type
    .swipe_normal {
      display: block;
    }
    .swipe_card {
      display: none;
    }
    /deep/.el-carousel__container {
      height: 250px;
    }
    /deep/.el-carousel__indicators {

      height: 0px;
    }
    /deep/.swipe_normal.el-carousel.el-carousel--horizontal {
      height: 400px;
    }
    img {
      width: 100%;
    }
}
// Mobile
@media screen and (max-width: 750px) {
  // swipe type
  .swipe_normal {
    display: block;
  }
  .swipe_card {
    display: none;
  }
  /deep/.el-carousel__container {
    height: 120px;
  }
  /deep/.el-carousel__indicators {

    height: 0px;
  }
  /deep/.swipe_normal.el-carousel.el-carousel--horizontal {
    height: 120px;
  }
  img {
    width: 100%;
  }
}
// PC
@media screen and (min-width: 900px) {
  // swipe type
  .swipe_normal {
    display: none;
  }
  .swipe_card {
    display: block;
  }
  /deep/.swipe_normal.el-carousel.el-carousel--horizontal {
    height: 250px;
  }
  .el-carousel__item {
    top: 15%;
  }
  img {
    width: 100%;
  }
}
