.pc_swipe {
  display: block;
}
.mobile_swipe {
  display: none;
}

//Mobile
@media screen and (max-width: 750px) {
  .el-carousel {
    position: relative;
    width: 100%;
    .el-carousel-item {
      position: absolute;
    }
    img {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 100%;
    }
  }
  .pc_swipe {
    display: none;
  }
  .mobile_swipe {
    display: block;
  }
}
